<% if @list.errors.any? %>
  <h4>Your list has some serious issues...</h4>
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end%>
  </ul>
<% end%>

<%= form_for @list, :class => 'form-group' do |f| %>
  <%= f.text_field :name, :class => 'from-control' %>
  <%= f.button :submit, :class => 'btn btn-success' %>
<% end %>