<%= form_for @list do |f| %>
	<% if @list.errors.any? %>
	  <h4>Your list has some serious issues...</h4>
	  <ul>
	    <% @list.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end%>
	  </ul>
	<% end%>
	
	<div class='input-group'>
	  <%= f.text_field :name, :class => 'form-control' %>
	  <span class="input-group-btn">
		  <%= f.submit 'Add list', :class => 'btn btn-success' %>
		</span>
  </div>
<% end %>